/* STYLING FOR THE ABOUT PAGE */

img {
  float: right;
  margin: 0;
  padding: 0;
  width: 30%;
}

.flex {
  display: flex;
}

.gif {
  padding-left: 7em;
  padding-top: 0;
  margin-top: 0;

  margin-bottom: 5em;
}

@media query screen (min-width: 20em){

  .gif {
    display: none;
  }

}

.about h2, ul, p {
  display: block;
  padding-left: 2em;
}

p {
  padding-left: 3em;
}

li {
  list-style: none;
  padding-left: 2em;
}

p {
  width: 40%;
}

/* using this to add padding to my h2 without adding padding to the image*/
.padding {
  padding-top: 4em;
}

h2 {
  margin-top: 0;
}
