/* STYLING FOR THE PROJECTS PAGE */

.img-link {
  width: 100%;
}

.img-link img {
  width: 90%;
  padding: 2em;
}


.flexbox {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* PROJECT DETAIL STYLING */
.description p {
  margin: 1em 2em 1em 2em;
  width: 90%;
}

.first {
  margin-top: 3em;
  padding-top: 2em;
}

.last {
  margin-bottom: 3em;
  padding-bottom: 2em;
}

.proj-img {
  width: 50%;
  padding: 1em 0 1em 2em;
}
