/* STYLING FOR THE PROJECTS PAGE */

.img-link {
  width: 100%;
  justify-content: center;
}

.img-link img {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 1em;
}


.flexbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

/*add extra padding to the bottom flexbox*/
.bottom {
  padding-bottom: 5em;
}


/*large screen sizes*/
@media screen and (min-width: 70em){
  .flexbox {
    flex-direction: row;
  }

  .img-link img {
    width: 90%;
    padding: 2em;
  }
}


/* PROJECT DETAIL STYLING */
p {
  font-size: 1.2em;
  margin: 1em 2em 1em 2em;
  width: 80%;
}

.proj-img {
  width: 80%;
  padding: 1em;
}

/* make the video responsive */
.video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.video iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 90%;
  height: 100%;
  padding: 1em 1em 0 2em;
}

.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 1em 2em 1em;
}

.last {
  padding-bottom: 5em;
}

.movie {
  padding-bottom: 0;
  margin-bottom: 0;
}
/*large screen sizes*/
@media screen and (min-width: 70em){
  .flex {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .proj-img {
    width: 60%;
  }

  .video {
    position: relative;
    width: 80%;
    padding-bottom: 56.25%;
    height: 0;
  }

  .video iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

   p {
    width: 80%;
  }
}

/*medium screen size*/
@media screen and (min-width: 55em){
  .flex {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .proj-img {
    width: 50%;
  }

  .video iframe{
    width: 100%;
    height: 60%;
  }


  p {
    width: 70%;
  }
}
